<!doctype html>
<html>
  <head>
    <style>
      html, body {
        color: rgba(0, 0, 0, 0.9);
        background: #fff;
      }
      @media (prefers-color-scheme: dark) {
        html, body {
          color: rgba(255, 255, 255, 0.9);
          background: #303437;
        }
      }
    </style>
  </head>
  <body>
    <h1>Hello There</h1>
  </body>
</html>
